@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Roboto Condensed", sans-serif;
  /** Font**/
  --font-color: #7cec5f;
  /** Black **/
  --paragraph-color: #933a46;
  /** Licorice **/
  --primary-color: #bc157f;
  /** Tyrian Purple **/
  --secondary-color: #3030ef;
  /**Glaucou **/
  --tertiary-color: #98add2;
  /** Vista Blue**/
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

/************* MAIN-STYLING ************************/



/************* END-MAIN-STYLING ****************/

/************* HEADER-SECTION *******************/

/************** MAIN-SECTION **************/

/************** END-MAIN-SECTION **************/

/************** FOOTER-SECTION **************/

/************** END-FOOTER-SECTION **************/

/************* MEDIA-QUERIES ******************/
/** MOBILE **/
@media screen and (min-width: 360px) {

}

/** DESKTOP **/
@media screen and (max-width: 1336px) {

} 

/************* MEDIA-QUERIES ******************/