* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica', arial, helvetica;
}


/************* MAIN-STYLING ************************/

a {
  text-decoration: none;
  color: #5F8670;
}

/************* END-MAIN-STYLING ******************/

/************* HEADER-SECTION *******************/
#main-wrapper {
  background-color: #820300;

}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.details {
  display: flex;
  justify-content: space-evenly;
  background-color: #820300;
}

.heading-copy h3 {
  text-transform: uppercase;
  color: #5F8670;
}

.heading-copy p {
  text-decoration: none;
  color: #5F8670;
}

.bio-pic img {
  border-radius: 10vh;
  border-color: #5F8670;
}

/************* END-HEADER-SECTION *******************/
hr {
  width: 75px;
}

/************** MAIN-SECTION **************/
.content {
  display: inline-flex;
  align-content: space-around;
  justify-content: space-evenly;
}

.first-col article {
  padding: 10px 15px;
  margin: 35px;
}

.first-col {
  background-color: #820300;
}


.second-col article {
  padding: 10px 15px;
  margin: 35px;
}

.second-col {
  background-color: #820300;
}

article h3 {
  text-transform: uppercase;
  color: #5F8670;
}

article p {
  text-align: left;
  color: #5F8670;
}

/************** END-MAIN-SECTION **************/

/************** FOOTER-SECTION **************/
footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #5F8670;
  background-color: #820300;
}

/************** END-FOOTER-SECTION **************/